* {
  box-sizing: border-box;
}
.grid{
  display: grid;
}
.quote2{
  border: 1px;
  width:100%;
  height: 300px;
  background: linear-gradient(to right,lightblue,rgba(0, 0, 0, 0));
  box-shadow:2px 3px 5px;
  text-align: center;
  padding: 10px;
  border-radius: 90px 0px 90px 0px;
  margin-bottom: 100px;


}
.quote2, .thought{
  border: 1px;
  width:100%;
  height: 300px;
  background: linear-gradient(to right,lightblue,rgba(0, 0, 0, 0));
  box-shadow:2px 3px 5px;
  text-align: center;
  padding: 10px;
}
.thought{
  background: linear-gradient(to right,orange,rgba(0, 0, 0, 0));
  font-size: 25px;
  margin: 50px 0px 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: 100%;
  height: 400px;
  border-radius: 0px 90px 0px 90px;
  margin-bottom: 100px;


}

.thought {
  font-size: 20px;
  -webkit-animation: thought 1s ease-in-out infinite alternate;
  -moz-animation: thought 1s ease-in-out infinite alternate;
  animation: thought 1s ease-in-out infinite alternate;
}
@-webkit-keyframes thought {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073;
  }

  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6;
  }
}
.thought p{
  border-left:3px solid black;
  margin: 9px;
  padding: 9px;
}
.quote h1{
  font-size: 40px;
  font-weight: bolder;

}
.quote2 p{
  text-shadow:2px 2px;
  font-size: 30px;

}



/*callout header*/

.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}

.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}

/*Recent posts*/

.recentpost{
  width: 90%;
  height: 500px;
  border-radius: 9px 2px 48px 0px;
  margin: 50px;
  margin-bottom: 200px;

}
.recentpost .morep{
  text-align: right;
}
.morep button, .radio button{
  width: 100px;
  height: 50px;
  vertical-align: middle;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}
.column {
  width: 70%;
  padding: 5px;
  border: 1px;
  box-shadow: 2px 5px 8px black;
  margin: 5px;
}
.column a{
  text-decoration: none;
}

/* Clearfix (clear floats) */

.row::after {
  content: "";
  clear: both;
  display: table;
}
.column:focus{
  color: blue;
}


 /*footer*/
.sub{
  display: inline;
  align:center;
}
 input[type=text]{
   width: 80px;
   height: 40px;
   border-radius: 20px;
   border:0px 0px 3px 0px;
   transition: 0.4s;
   outline: 0px;
   font-size: 20px;
   margin-left: 30px;
 }
 input[type=text]:focus{
   width: 300px;
   transition: 0.4s;
 }
 input[type=submit]{
   width: 80px;
   height: 30px;
   border-radius: 20px;
   border:0px 0px 3px 0px;
   transition: 0.4s;
   margin: 20px;
   background: linear-gradient(to right,red,rgba(0, 0, 0, 0.4));
   color: white;
   font-weight: bold;
   cursor: pointer;
   outline:0px;

 }
.copy{
  font-size: 2px;
  text-align: center;
}
footer .footerf{
  font-weight: bolder;
}
footer{
  background-color: #384457;
  padding: 30px;
  width: 100%;
  height: 300px;
  color: white;
}
input[placeholder="Enter email"]{
  vertical-align: middle;
}
.color{
  background-color: #f2f2f2;
  width: 100%;
  height: 30px;
}
.socialm{
  border-left: 3px solid black;
  float: right;
  margin: 10px;
  padding: 10px;

}

.fa-facebook {
  background: #3B5998;
  color: white;
  width: 20px;
  height: 20px;
  margin: 4px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  width: 20px;
  height: 20px;
  margin: 4px;
}
.radio{
  margin: 30px;
  padding: 10px;
  width: 400px;
  height: 400px;
  box-shadow:  10px 10px 20px black;
  border-radius:90px 90px 0px 0px;
  margin-bottom: 100px;


}
.radio img{
  width: 100px;
  height: 100px;
  margin-left: 30%;
}


/*watch live*/

.live{
  background: url(img/others/Pastor-Adeboye.jpg) center ;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}
.live a{
  right: 10px;

}

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}
.
.button:hover span:after {
  opacity: 1
  right: 0;
}


.rccgl{
  vertical-align: middle;
}
.Ohd{
  margin-top: 20px;
  margin-bottom: 20px;
  border:0px 1px 1px 1px solid black;
  box-shadow: 0px 0px 14px 2px black;
  border-radius: 10px;
  font-size: 20px;
  padding:15px;
  margin-bottom: 100px;


}
.others{
    display: block;
}
.others button{
  height: 20px;
  font-weight: bold;

}
.sadoz{
  margin:30px 0px 30px 0px;
}
.today{
  border:0px 1px 1px 1px solid black;
  box-shadow: 13px 13px 14px 2px black;
  border-radius: 10px;
  font-size: 20px;
  padding:30px;
  margin:30px;
  margin-bottom: 100px;

}
.today img{
  width: 100px;
  height: 100px;
}
blockquote button{
  width: 100px;
  height: 30px;
  background-color: tomato;
  color: white;
  outline: 0px;
  border:0px;
}
#more3 {display:none;}

.chan{
  width: 100%;
  height: 600px;
  display: flex;
  margin: 100px 0px 100px 0px;
  border:0px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 9px 9px 15px black;

}
.chant h4{
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin: 30px;
  margin-top: 90px;
}
.chant p{
  text-align: center;
}
.chanl{
  width: 100%;
}
.chani img{
  width: 300px;
  height:auto;
  flex: row wrap;
  object-fit: cover;
  margin: 20px;
  margin-left: 70px;
  justify-content: center;
  align-items: center;
}
